version: '3'

services:

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: alphacar/backend
    container_name: backend
    ports:
      - "3000:3000"
    #volumes:
    #  - ./../src/node/koa2_backend:/root/koa2_backend:rw
    environment:
      - MONGODB_URL=mongodb://mongo_db:27017/alphacar
    command: bash -c "sleep 10; cd /root/backend; npm run prd; tail -f /dev/null;"
    links:
      - ipfs_node
      - mongo_db

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    image: alphacar/frontend
    container_name: frontend
    ports:
      - "38090:8090"
    environment:
      - IPFS_URL=http://127.0.0.1:8080
      - BASE_URL=http://127.0.0.1:3000
    #volumes:
    #  - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    #  - ./nginx/alphacar_browser.conf:/etc/nginx/conf.d/alphacar_browser.conf:ro
    #  - ./../../alphacar-browser/dist:/alphacar_browser:ro
    command: nginx -g 'daemon off;'
