version: '3'

services:

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    image: alphacar/nginx
    container_name: nginx
    ports:
      - "38080:8080"
    volumes:
    #  - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    #  - ./nginx/alphacar_browser.conf:/etc/nginx/conf.d/alphacar_browser.conf:ro
      - ./../../alphacar-browser/dist:/alphacar_browser:ro
    command: nginx -g 'daemon off;'
